# Example environment variables for the Appointment service
PORT=8082

# Environment variables for the Appointment service
DATABASE_URL="postgresql://admin:admin@postgres:5432/appointment"

# Database and RabbitMQ connection URLs
RABBITMQ_URL="amqp://admin:admin@rabbitmq:5672"

# URL interna do user-service, para validar user/service ao criar um agendamento
USER_SERVICE_URL="http://user:8081"
